:root {
  --dogs: burlywood;
  --cats: darkgoldenrod;
  --fish: darksalmon;
}


body {
  font-family: 'Anek Odia', sans-serif;
}

nav {
  margin-bottom: 20px;
  padding: 20px 0px;
}


nav button, nav a {
  border: none;
  margin: 0 10px;
  padding: 10px 40px;
  font-size: 22px;
  color: white;
  text-decoration: none;
}

nav button:first-child, nav a:first-child {
  margin-left: 0;
}

nav button.dogs, nav a.dogs {
  background-color: var(--dogs);
}

nav button.cats, nav a.cats {
  background-color: var(--cats);
}

nav button.fish, nav a.fish {
  background-color: var(--fish);
}

nav .selected {
  color: white;
}

main.dogs, main.cats, main.fish {
  width: 100%;
  padding: 20px;
  min-height: 200px;
  color: white;
}

main.dogs {
  background-color: var(--dogs);
}

main.cats {
  background-color: var(--cats);
}

main.fish {
  background-color: var(--fish);
}
