:root {
  --dogs: burlywood;
  --dogs-dark: #6a4e07;
  
  --cats: darkgoldenrod;
  --cats-dark: #634807;
  
  --fish: darksalmon;
  --fish-dark: maroon;
}


body {
  font-family: 'Anek Odia', sans-serif;
}

nav {
  margin-bottom: 20px;
  padding: 20px 0px;
}


nav button, nav a {
  border: none;
  margin: 0 10px;
  padding: 10px 40px;
  font-size: 22px;
  color: black;
  text-decoration: none;
}

nav a {
  padding-bottom: 0;
}

nav button:first-child, nav a:first-child {
  margin-left: 0;
}

nav button.dogs, nav a.dogs {
  background-color: var(--dogs);
}

nav button.cats, nav a.cats {
  background-color: var(--cats);
}

nav button.fish, nav a.fish {
  background-color: var(--fish);
}

nav .active {
  color: white;
}

main.dogs, main.cats, main.fish {
  width: 100%;
  padding: 20px;
  min-height: 200px;
  color: white;
}

main.dogs {
  background-color: var(--dogs);
}

main.dogs .dogs-nav a {
  color: bisque;
  text-decoration-line: none;
  padding: 0px 10px 0 0;
}

.dogs-food, .dogs-toys {
  background-color: bisque;
  padding: 20px;
  color:black
}

main.cats {
  background-color: var(--cats);
}

main.cats img {
  max-width: 200px;
  max-height: 200px;
  margin: 0 20px;
}

main.fish {
  background-color: var(--fish);
}

main.fish.dark {
  background-color: var(--fish-dark);
}

main.dogs.dark {
  background-color: var(--cats-dark);
}

main.cats.dark {
  background-color: var(--dogs-dark);
}
